html {
    display: flex;
    justify-content: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

h1, h2{
    text-shadow: 1px 1px 0 #000;
}

hr {
    width: 100%;
    height: 10px;
    margin: 30px 10px;
    background-color: rgb(26, 5, 32);
}

form {
    display: grid;
    grid-template-columns: 1fr 4fr;
    min-width: 300px;
    max-width: 500px;
    width: 90%;
    padding: 20px;
    margin: 40px 0;
    gap: 15px;
    border: 2px dotted #000;
    box-shadow: 2px 2px 5px #000;
}

#hidden {
    display: none;
    position: fixed;
    background-color: #eee;
    color: rgb(26, 5, 32);
    border: 4px double #a0d;
    top: 20%;
}

#message {
    color: #a0d;
}

form h1 {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    text-shadow: 1px 1px 0 #a0d;
}

button {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 40%;
    margin-left: 30%;
}

span.fake-input {
    z-index: 1;
    border-radius: 2.5px;
    border: 0.4px solid rgb(118, 118, 118);
    background-image: url(./img/insert_image.png);
    background-position: 2px center;
    background-size: 140px;
    background-repeat: no-repeat;
}

input.none {
    opacity: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
}

table {
    font-weight: bolder;
    text-align: center;
}

table * {
    padding: 5px;
}